img {
    height: 30px;
    width: 30px;
}

#profilePicture {
    height: 300px;
    width: 300px;
}

#profileInformationTitle, #badgeSubmitionFormTitle {
    text-align: center;
}

#badgeSubmitionMessage {
    font-style: italic;
}

#assignBadgeButton, #backButton {
    border: none;
    border-radius: 10px;
    color: white;
	background-color: #29b4d3;
	margin: 10px;
}

#assignBadgeButton:hover, #backButton:hover {
	-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	cursor: pointer;
	background-color: #ebe0cc;
	color: #29b4d3;
	border: none;
}

#pageCover { /*да видим как да скрива и двете малки сенчици най-отдолу*/
    display: none;
    background-color: rgba(1, 1, 1, 0.6); 
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
 }

#badgeFormSection {
    display: none;
    border-left: solid 2px #29b4d3;
    border-right: solid 2px #29b4d3;
    border-top: solid 30px #29b4d3;
    border-bottom: solid 30px #29b4d3;
    background-color: rgba(255, 255, 255, 1); 
    width: 68%;
    position: fixed;
    left: 16%;
    top: 5%;
}

#badgesPanel li {
    display: none;
}

#badgesPanel img:hover {
    cursor: pointer;
    width: 40px;
	height: 40px;
}

#badgesPanel td {
    padding: 5px;
}

/*#showInformationBox {
    display: block;
}

#badgesPanel, #infoDetails {
    width: 50%;
    float: left;
}*/