#profilePicture {
    height: 300px;
    width: 300px;
}

#badgeSubmitionMessage {
    font-style: italic;
}

#assignBadgeButton, #backButton {
    border: none;
    border-radius: 10px;
    color: white;
	background-color: #29b4d3;
	margin: 10px;
}

#assignBadgeButton {
    background-color: #f0940b;
    color: white;
    overflow: hidden;
}

#assignBadgeButton:hover, #backButton:hover {
	-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	cursor: pointer;
	background-color: #ebe0cc;
	color: #29b4d3;
	border: none;
}

#assignBadgeButton:hover {
    background-color: #16576B;
	color: white;
}
