table img {
    height: 40px;
    width: 40px;
}

#profileInformationTitle, #badgeSubmitionFormTitle {
    text-align: center;
}

#pageCover { /*да видим как да скрива и двете малки сенчици най-отдолу*/
    display: none;
    background-color: rgba(1, 1, 1, 0.6); 
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
 }

#formSection {
    display: none;
    border-left: solid 2px #29b4d3;
    border-right: solid 2px #29b4d3;
    border-top: solid 30px #29b4d3;
    border-bottom: solid 30px #29b4d3;
    background-color: rgba(255, 255, 255, 1); 
    width: 72%;
    position: fixed;
    left: 16%;
    top: 5%;
}

table li {
    display: none;
}

#badgesTable img:hover {
    cursor: pointer;
    border-bottom: 5px solid;
    border-color: #f0940b; 
}

#badgesPanel img {
    padding: 3px;
}

#showInformationBox {
    display: block;
}

#infoDetails { 
    border-top: solid 30px #1d8ba3;
    border-bottom: solid 30px #1d8ba3;
    width: 60%;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 415px;
    margin-top: 64px;
    text-transform: uppercase;
    font-weight: bold;
}

#badgesPanel {
    border-left: solid 2px #1d8ba3;
    border-right: solid 2px  #1d8ba3;
    border-top: solid 30px  #1d8ba3;
    border-bottom: solid 3px #1d8ba3;
    width: 28%;
    padding: 10px;
    float: left;
    margin-right: 40px;
    margin-bottom: 10px;
}


#clear {
    clear: both;
}

#badgesButton {
    float: left;
}

#fullName, #majorAndClass {
	margin-right: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #16576B;
	background: -webkit-linear-gradient(#1d8ba3, #f0940b);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 24pt;
}

#majorAndClass {
    font-size: 16pt;
}

