
* {
	font-family: 'Book Antiqua', "Palatino", sans-serif;
}
		

body {
	background: #ebe0cc ;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.8em;
	min-width: 1200px;
	margin: 0;
}


.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}


/* header */

#header {
	position: relative;
	padding-top: 3em;
}

#logo {
	overflow: hidden;
	text-align: center;
	height: 160px;
}
	
#siteHeading a {
	display: block;
	padding: 30px 0px 0px 0px;
	letter-spacing: -1px;
	text-align: center;
	text-decoration: none;
	text-shadow: 3px -1px 0px #d69f3a;
	text-transform: uppercase;
	font-size: 44pt;
	font-weight: bold;
	color: #1d8ba3;
	
}

#siteHeading a:hover {
	text-shadow: 5px -1px 0px #d69f3a;
	font-weight: bold;
	
}
	
#logo span {
	display: inline-block;
	padding: 10px 0px 0px 0px;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: -1px -1px 0px #f5ecdb ;
	font-size: 18pt;
	color: #A5D0F2;
}

/* navigation*/

#navWrapper {
	
	height: 90px;
	background: url(images/nav-image.png) no-repeat center top;
}
	
#siteNav {
	height: 90px;	
}
	
#siteNav ul {
	padding: 5px 20px;
	display: inline-block;
}
	
#siteNav li {
	display: inline-block;
	padding: 0px 20px;
}
	
#siteNav a {
	margin-right: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: #16576B;
	background: -webkit-linear-gradient(#1d8ba3, #f0940b);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	
}
	
#siteNav .active {
	border-bottom: 4px double #1d8ba3;
	text-shadow: -1px -1px 0px #1d8ba3;
	padding-bottom: 0;
	
}
	
#siteNav .active a {
	color: #1d8ba3;
}

#siteNav a:hover {
	text-shadow: -1px -1px 0px #1d8ba3;
	
}

.dropdown {
	float: right;
	height: 25px;
	width: 17%;
	z-index: 1;
	position: relative;
}

.dropdownContent {
	border-radius: 5px;
	background-color:#f4f8fa;
	border: 1px solid #94ccdd;
	width: 92%;
	height: fit-content;
	display: none;
	-moz-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-o-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	
}

#siteNav .foundUsers {
	border: none;
	text-transform: none;
	display: flex;
	font-size: 10pt;
}


#siteNav .foundUsers div {
	display: flex;
	flex-direction: column;
}

#siteNav .foundUsers img {
	margin-right: 10px;
	margin-top: 5px;
	border: 1px solid #c3d0d4;
}

.dropdownContent ul li {
	border-bottom: 1px dashed #c3d0d4;
	padding-top: 10px;
}

.dropdownContent ul {
	padding: 0;
}


.search {
	background-image: url("images/search--v1.png") top left;
	background-repeat: no-repeat;
	display: inline-block;
    overflow: hidden;
    background-size: 50px;
    background-position: 10%;
    background-color:#e0f0f7;
	border-radius: 5px;
	width: 90%;
	height: 25px;
	text-indent: 1rem;
	border: 1px solid #c3d0d4;
	
	outline: none;
	margin-top: 20px;
}

.search:focus {
	border: 2px solid #a3d6e6;
	
}

.dropdownContent #closeIcon {
	border: none;
	cursor: pointer;
	float: right;
}

/* main */

h2, h3 {
	background: -webkit-linear-gradient(#1d8ba3, #f0940b);
  	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
}

#mainWrapper {
	background: url(images/main-wrapper.jpg) repeat;
}

#main {
	position: relative;
	background: #FFF;
	padding: 4em 3em 6em 3em;
}

/* footer */


#footerInfo {
	
	padding: 3em;
	background: url(images/footer-image.png) no-repeat center top;
	text-align: center;
	text-transform: uppercase;
	color: #2C7485;
}

#footerInfo:hover {
	
	text-shadow: -1px -1px 0px #1d8ba3;
}


		

